@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap");
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  position: absolute;
  font-family: "PT Serif Caption", serif;
}

html .navbar-container,
body .navbar-container,
#root .navbar-container,
.App .navbar-container {
  z-index: 10000;
  position: relative;
  height: 100px;
  min-height: 100px;
  max-height: 135px;
}

html .navbar-container .navbar-content,
body .navbar-container .navbar-content,
#root .navbar-container .navbar-content,
.App .navbar-container .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24292e;
  padding: 0;
  margin: 0;
  height: 100%;
}

html .navbar-container .navbar-content .logo,
body .navbar-container .navbar-content .logo,
#root .navbar-container .navbar-content .logo,
.App .navbar-container .navbar-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 100%;
}

html .navbar-container .navbar-content .logo a,
body .navbar-container .navbar-content .logo a,
#root .navbar-container .navbar-content .logo a,
.App .navbar-container .navbar-content .logo a {
  text-decoration: none;
  color: white;
}

html .navbar-container .navbar-content .logo a h1,
body .navbar-container .navbar-content .logo a h1,
#root .navbar-container .navbar-content .logo a h1,
.App .navbar-container .navbar-content .logo a h1 {
  padding: 0;
  margin: 0;
  width: 150px;
}

html .navbar-container .navbar-content .nav-area,
body .navbar-container .navbar-content .nav-area,
#root .navbar-container .navbar-content .nav-area,
.App .navbar-container .navbar-content .nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
}

html .navbar-container .navbar-content .nav-area nav ul,
body .navbar-container .navbar-content .nav-area nav ul,
#root .navbar-container .navbar-content .nav-area nav ul,
.App .navbar-container .navbar-content .nav-area nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin-right: 50px;
}

html .navbar-container .navbar-content .nav-area nav ul li,
body .navbar-container .navbar-content .nav-area nav ul li,
#root .navbar-container .navbar-content .nav-area nav ul li,
.App .navbar-container .navbar-content .nav-area nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 20px;
  padding: 10px;
}

html .navbar-container .navbar-content .nav-area nav ul li a,
body .navbar-container .navbar-content .nav-area nav ul li a,
#root .navbar-container .navbar-content .nav-area nav ul li a,
.App .navbar-container .navbar-content .nav-area nav ul li a {
  text-decoration: none;
  color: white;
}

html .navbar-container .navbar-content .nav-area nav ul li .search-form,
body .navbar-container .navbar-content .nav-area nav ul li .search-form,
#root .navbar-container .navbar-content .nav-area nav ul li .search-form,
.App .navbar-container .navbar-content .nav-area nav ul li .search-form {
  position: relative;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .navbar-container .navbar-content .nav-area nav ul li .search-form form,
body .navbar-container .navbar-content .nav-area nav ul li .search-form form,
#root .navbar-container .navbar-content .nav-area nav ul li .search-form form,
.App .navbar-container .navbar-content .nav-area nav ul li .search-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

html .navbar-container .navbar-content .nav-area nav ul li .search-form form input,
body .navbar-container .navbar-content .nav-area nav ul li .search-form form input,
#root .navbar-container .navbar-content .nav-area nav ul li .search-form form input,
.App .navbar-container .navbar-content .nav-area nav ul li .search-form form input {
  width: 80%;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: solid #f1eadd;
  outline: none;
}

html .navbar-container .navbar-content .nav-area nav ul li .search-form form button,
body .navbar-container .navbar-content .nav-area nav ul li .search-form form button,
#root .navbar-container .navbar-content .nav-area nav ul li .search-form form button,
.App .navbar-container .navbar-content .nav-area nav ul li .search-form form button {
  position: absolute;
  left: -9999px;
}

html .footer-container,
body .footer-container,
#root .footer-container,
.App .footer-container {
  height: 100px;
  min-height: 100px;
  max-height: 135px;
}

html .footer-container .footer-content,
body .footer-container .footer-content,
#root .footer-container .footer-content,
.App .footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #24292e;
  padding: 0;
  margin: 0;
  height: 100%;
}

html .footer-container .footer-content .copyright,
body .footer-container .footer-content .copyright,
#root .footer-container .footer-content .copyright,
.App .footer-container .footer-content .copyright {
  color: white;
}

html .search-container,
body .search-container,
#root .search-container,
.App .search-container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fdfaf5;
}

html .search-container .search-content,
body .search-container .search-content,
#root .search-container .search-content,
.App .search-container .search-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

html .search-container .search-content .area,
body .search-container .search-content .area,
#root .search-container .search-content .area,
.App .search-container .search-content .area {
  position: relative;
  top: 35%;
  height: 500px;
}

html .search-container .search-content .area .title,
body .search-container .search-content .area .title,
#root .search-container .search-content .area .title,
.App .search-container .search-content .area .title {
  position: relative;
  width: 600px;
}

html .search-container .search-content .area .title .logo,
body .search-container .search-content .area .title .logo,
#root .search-container .search-content .area .title .logo,
.App .search-container .search-content .area .title .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .search-container .search-content .area .title .logo p,
body .search-container .search-content .area .title .logo p,
#root .search-container .search-content .area .title .logo p,
.App .search-container .search-content .area .title .logo p {
  margin: 0;
  font-size: 60px;
}

html .search-container .search-content .area .title .description,
body .search-container .search-content .area .title .description,
#root .search-container .search-content .area .title .description,
.App .search-container .search-content .area .title .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .search-container .search-content .area .title .description p,
body .search-container .search-content .area .title .description p,
#root .search-container .search-content .area .title .description p,
.App .search-container .search-content .area .title .description p {
  font-size: 20px;
}

html .search-container .search-content .area .search-form,
body .search-container .search-content .area .search-form,
#root .search-container .search-content .area .search-form,
.App .search-container .search-content .area .search-form {
  position: relative;
  top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .search-container .search-content .area .search-form form,
body .search-container .search-content .area .search-form form,
#root .search-container .search-content .area .search-form form,
.App .search-container .search-content .area .search-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

html .search-container .search-content .area .search-form form input,
body .search-container .search-content .area .search-form form input,
#root .search-container .search-content .area .search-form form input,
.App .search-container .search-content .area .search-form form input {
  width: 80%;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: solid #f1eadd;
  outline: none;
}

html .search-container .search-content .area .search-form form button,
body .search-container .search-content .area .search-form form button,
#root .search-container .search-content .area .search-form form button,
.App .search-container .search-content .area .search-form form button {
  position: absolute;
  left: -9999px;
  margin: 10px;
  height: 35px;
  width: 90px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #f7efe4;
}

html .profile-container,
body .profile-container,
#root .profile-container,
.App .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 100%;
}

html .profile-container .profile-content,
body .profile-container .profile-content,
#root .profile-container .profile-content,
.App .profile-container .profile-content {
  width: 100%;
  margin: 100px;
  margin-bottom: 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .profile-container .profile-content .profile-title,
body .profile-container .profile-content .profile-title,
#root .profile-container .profile-content .profile-title,
.App .profile-container .profile-content .profile-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .profile-container .profile-content .profile-title .user-picture,
body .profile-container .profile-content .profile-title .user-picture,
#root .profile-container .profile-content .profile-title .user-picture,
.App .profile-container .profile-content .profile-title .user-picture {
  position: relative;
  margin: 20px;
}

html .profile-container .profile-content .profile-title .user-picture img,
body .profile-container .profile-content .profile-title .user-picture img,
#root .profile-container .profile-content .profile-title .user-picture img,
.App .profile-container .profile-content .profile-title .user-picture img {
  border-radius: 100px;
  height: 150px;
  width: 150px;
}

html .profile-container .profile-content .profile-title .user-picture p,
body .profile-container .profile-content .profile-title .user-picture p,
#root .profile-container .profile-content .profile-title .user-picture p,
.App .profile-container .profile-content .profile-title .user-picture p {
  text-align: center;
  font-size: 20px;
}

html .profile-container .profile-content .profile-title .user-info,
body .profile-container .profile-content .profile-title .user-info,
#root .profile-container .profile-content .profile-title .user-info,
.App .profile-container .profile-content .profile-title .user-info {
  position: relative;
  border: solid 1px #afafaf73;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding-top: 10px;
  min-height: 100%;
  width: 400px;
}

html .profile-container .profile-content .profile-title .user-info .list,
body .profile-container .profile-content .profile-title .user-info .list,
#root .profile-container .profile-content .profile-title .user-info .list,
.App .profile-container .profile-content .profile-title .user-info .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

html .profile-container .profile-content .profile-title .user-info .list .row-1,
html .profile-container .profile-content .profile-title .user-info .list .row-2,
body .profile-container .profile-content .profile-title .user-info .list .row-1,
body .profile-container .profile-content .profile-title .user-info .list .row-2,
#root .profile-container .profile-content .profile-title .user-info .list .row-1,
#root .profile-container .profile-content .profile-title .user-info .list .row-2,
.App .profile-container .profile-content .profile-title .user-info .list .row-1,
.App .profile-container .profile-content .profile-title .user-info .list .row-2 {
  width: 100%;
}

html .profile-container .profile-content .profile-title .user-info .list .row-1 .item,
html .profile-container .profile-content .profile-title .user-info .list .row-2 .item,
body .profile-container .profile-content .profile-title .user-info .list .row-1 .item,
body .profile-container .profile-content .profile-title .user-info .list .row-2 .item,
#root .profile-container .profile-content .profile-title .user-info .list .row-1 .item,
#root .profile-container .profile-content .profile-title .user-info .list .row-2 .item,
.App .profile-container .profile-content .profile-title .user-info .list .row-1 .item,
.App .profile-container .profile-content .profile-title .user-info .list .row-2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 2px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #afafaf73;
  width: 85%;
  font-size: 12px;
}

html .profile-container .profile-content .profile-title .user-info .list .row-1 .item p,
html .profile-container .profile-content .profile-title .user-info .list .row-2 .item p,
body .profile-container .profile-content .profile-title .user-info .list .row-1 .item p,
body .profile-container .profile-content .profile-title .user-info .list .row-2 .item p,
#root .profile-container .profile-content .profile-title .user-info .list .row-1 .item p,
#root .profile-container .profile-content .profile-title .user-info .list .row-2 .item p,
.App .profile-container .profile-content .profile-title .user-info .list .row-1 .item p,
.App .profile-container .profile-content .profile-title .user-info .list .row-2 .item p {
  margin: 0;
  margin-left: 10px;
}

html .profile-container .profile-content .profile-repos,
body .profile-container .profile-content .profile-repos,
#root .profile-container .profile-content .profile-repos,
.App .profile-container .profile-content .profile-repos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
}

html .profile-container .profile-content .profile-repos .repository-list,
body .profile-container .profile-content .profile-repos .repository-list,
#root .profile-container .profile-content .profile-repos .repository-list,
.App .profile-container .profile-content .profile-repos .repository-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: inherit;
}

html .container-card a,
body .container-card a,
#root .container-card a,
.App .container-card a {
  text-decoration: none;
  color: black;
  background-color: #ffffff;
}

html .container-card a .card,
body .container-card a .card,
#root .container-card a .card,
.App .container-card a .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #8080804b;
  border-radius: 5px;
  margin: 4px;
  width: 250px;
  height: 100px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html .container-card a .card:hover,
body .container-card a .card:hover,
#root .container-card a .card:hover,
.App .container-card a .card:hover {
  width: 255px;
  height: 105px;
  background-color: #fcc1c1;
}

html .container-card a .card:hover .card-container .image-area img,
body .container-card a .card:hover .card-container .image-area img,
#root .container-card a .card:hover .card-container .image-area img,
.App .container-card a .card:hover .card-container .image-area img {
  height: 60px;
  width: 60px;
}

html .container-card a .card:hover .card-container .info-area label,
body .container-card a .card:hover .card-container .info-area label,
#root .container-card a .card:hover .card-container .info-area label,
.App .container-card a .card:hover .card-container .info-area label {
  font-size: 15px;
}

html .container-card a .card .card-container,
body .container-card a .card .card-container,
#root .container-card a .card .card-container,
.App .container-card a .card .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container-card a .card .card-container .image-area img,
body .container-card a .card .card-container .image-area img,
#root .container-card a .card .card-container .image-area img,
.App .container-card a .card .card-container .image-area img {
  height: 50px;
  width: 50px;
  margin-right: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html .container-card a .card .card-container .info-area,
body .container-card a .card .card-container .info-area,
#root .container-card a .card .card-container .info-area,
.App .container-card a .card .card-container .info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .container-card a .card .card-container .info-area label,
body .container-card a .card .card-container .info-area label,
#root .container-card a .card .card-container .info-area label,
.App .container-card a .card .card-container .info-area label {
  font-size: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html .notify,
body .notify,
#root .notify,
.App .notify {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background-color: #f3debc;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 10px #464435a8;
          box-shadow: 2px 2px 10px #464435a8;
}

html .notify .notify-container,
body .notify .notify-container,
#root .notify .notify-container,
.App .notify .notify-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .notify .notify-container p,
body .notify .notify-container p,
#root .notify .notify-container p,
.App .notify .notify-container p {
  color: black;
  margin: 5px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.1;
    top: -70px;
  }
  25% {
    opacity: 1;
    top: 50px;
  }
  70% {
    opacity: 1;
    top: 50px;
  }
  90% {
    opacity: 1;
    top: 50px;
  }
  100% {
    opacity: 0;
    top: -5px;
  }
}

@keyframes fade {
  0% {
    opacity: 0.1;
    top: -70px;
  }
  25% {
    opacity: 1;
    top: 50px;
  }
  70% {
    opacity: 1;
    top: 50px;
  }
  90% {
    opacity: 1;
    top: 50px;
  }
  100% {
    opacity: 0;
    top: -5px;
  }
}

html .about-container,
body .about-container,
#root .about-container,
.App .about-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

html .about-container .about-content,
body .about-container .about-content,
#root .about-container .about-content,
.App .about-container .about-content {
  position: relative;
  top: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

html .about-container .about-content .title p,
body .about-container .about-content .title p,
#root .about-container .about-content .title p,
.App .about-container .about-content .title p {
  font-size: 50px;
}

html .about-container .about-content .content,
body .about-container .about-content .content,
#root .about-container .about-content .content,
.App .about-container .about-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .about-container .about-content .content .description p,
body .about-container .about-content .content .description p,
#root .about-container .about-content .content .description p,
.App .about-container .about-content .content .description p {
  font-size: 20px;
}

html .about-container .about-content .content .sub-title,
body .about-container .about-content .content .sub-title,
#root .about-container .about-content .content .sub-title,
.App .about-container .about-content .content .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .about-container .about-content .content .sub-title .tech,
body .about-container .about-content .content .sub-title .tech,
#root .about-container .about-content .content .sub-title .tech,
.App .about-container .about-content .content .sub-title .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .about-container .about-content .content .sub-title .tech p,
body .about-container .about-content .content .sub-title .tech p,
#root .about-container .about-content .content .sub-title .tech p,
.App .about-container .about-content .content .sub-title .tech p {
  font-size: 25px;
  color: #585858;
}

html .about-container .about-content .content .sub-title .tech ul,
body .about-container .about-content .content .sub-title .tech ul,
#root .about-container .about-content .content .sub-title .tech ul,
.App .about-container .about-content .content .sub-title .tech ul {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=App.css.map */