@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap");
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  position: absolute;
  font-family: 'PT Serif Caption', serif;
}

html .navbar-container,
body .navbar-container,
#root .navbar-container,
.App .navbar-container {
  position: relative;
  height: 100px;
  min-height: 100px;
  max-height: 135px;
}

html .navbar-container .navbar-content,
body .navbar-container .navbar-content,
#root .navbar-container .navbar-content,
.App .navbar-container .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24292e;
  padding: 0;
  margin: 0;
  height: 100%;
}

html .navbar-container .navbar-content .logo,
body .navbar-container .navbar-content .logo,
#root .navbar-container .navbar-content .logo,
.App .navbar-container .navbar-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 300px;
  height: 100%;
}

html .navbar-container .navbar-content .logo h1,
body .navbar-container .navbar-content .logo h1,
#root .navbar-container .navbar-content .logo h1,
.App .navbar-container .navbar-content .logo h1 {
  padding: 0;
  margin: 0;
  width: 150px;
}

html .navbar-container .navbar-content .nav-area,
body .navbar-container .navbar-content .nav-area,
#root .navbar-container .navbar-content .nav-area,
.App .navbar-container .navbar-content .nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
}

html .navbar-container .navbar-content .nav-area nav ul,
body .navbar-container .navbar-content .nav-area nav ul,
#root .navbar-container .navbar-content .nav-area nav ul,
.App .navbar-container .navbar-content .nav-area nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin-right: 50px;
}

html .navbar-container .navbar-content .nav-area nav ul li,
body .navbar-container .navbar-content .nav-area nav ul li,
#root .navbar-container .navbar-content .nav-area nav ul li,
.App .navbar-container .navbar-content .nav-area nav ul li {
  color: white;
  font-size: 20px;
  padding: 10px;
}

html .navbar-container .navbar-content .nav-area nav ul li a,
body .navbar-container .navbar-content .nav-area nav ul li a,
#root .navbar-container .navbar-content .nav-area nav ul li a,
.App .navbar-container .navbar-content .nav-area nav ul li a {
  text-decoration: none;
  color: white;
}

html .footer-container,
body .footer-container,
#root .footer-container,
.App .footer-container {
  height: 100px;
  min-height: 100px;
  max-height: 135px;
}

html .footer-container .footer-content,
body .footer-container .footer-content,
#root .footer-container .footer-content,
.App .footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24292e;
  padding: 0;
  margin: 0;
  height: 100%;
}

html .search-container,
body .search-container,
#root .search-container,
.App .search-container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FDFAF5;
}

html .search-container .search-content,
body .search-container .search-content,
#root .search-container .search-content,
.App .search-container .search-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

html .search-container .search-content .area,
body .search-container .search-content .area,
#root .search-container .search-content .area,
.App .search-container .search-content .area {
  position: relative;
  top: 35%;
  height: 500px;
}

html .search-container .search-content .area .title,
body .search-container .search-content .area .title,
#root .search-container .search-content .area .title,
.App .search-container .search-content .area .title {
  position: relative;
  width: 600px;
}

html .search-container .search-content .area .title .logo,
body .search-container .search-content .area .title .logo,
#root .search-container .search-content .area .title .logo,
.App .search-container .search-content .area .title .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .search-container .search-content .area .title .logo p,
body .search-container .search-content .area .title .logo p,
#root .search-container .search-content .area .title .logo p,
.App .search-container .search-content .area .title .logo p {
  margin: 0;
  font-size: 60px;
}

html .search-container .search-content .area .title .description,
body .search-container .search-content .area .title .description,
#root .search-container .search-content .area .title .description,
.App .search-container .search-content .area .title .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .search-container .search-content .area .title .description p,
body .search-container .search-content .area .title .description p,
#root .search-container .search-content .area .title .description p,
.App .search-container .search-content .area .title .description p {
  font-size: 20px;
}

html .search-container .search-content .area .search-form,
body .search-container .search-content .area .search-form,
#root .search-container .search-content .area .search-form,
.App .search-container .search-content .area .search-form {
  position: relative;
  top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .search-container .search-content .area .search-form form,
body .search-container .search-content .area .search-form form,
#root .search-container .search-content .area .search-form form,
.App .search-container .search-content .area .search-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

html .search-container .search-content .area .search-form form input,
body .search-container .search-content .area .search-form form input,
#root .search-container .search-content .area .search-form form input,
.App .search-container .search-content .area .search-form form input {
  width: 80%;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: solid #f1eadd;
  outline: none;
}

html .profile-container,
body .profile-container,
#root .profile-container,
.App .profile-container {
  height: 100%;
}

html .profile-container .profile-content,
body .profile-container .profile-content,
#root .profile-container .profile-content,
.App .profile-container .profile-content {
  margin: 100px;
  margin-bottom: 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .profile-container .profile-content .profile-title,
body .profile-container .profile-content .profile-title,
#root .profile-container .profile-content .profile-title,
.App .profile-container .profile-content .profile-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .profile-container .profile-content .profile-title .user-picture,
body .profile-container .profile-content .profile-title .user-picture,
#root .profile-container .profile-content .profile-title .user-picture,
.App .profile-container .profile-content .profile-title .user-picture {
  position: relative;
  margin: 20px;
}

html .profile-container .profile-content .profile-title .user-picture img,
body .profile-container .profile-content .profile-title .user-picture img,
#root .profile-container .profile-content .profile-title .user-picture img,
.App .profile-container .profile-content .profile-title .user-picture img {
  border-radius: 100px;
  height: 150px;
  width: 150px;
}

html .profile-container .profile-content .profile-title .user-picture p,
body .profile-container .profile-content .profile-title .user-picture p,
#root .profile-container .profile-content .profile-title .user-picture p,
.App .profile-container .profile-content .profile-title .user-picture p {
  text-align: center;
  font-size: 20px;
}

html .profile-container .profile-content .profile-title .user-info,
body .profile-container .profile-content .profile-title .user-info,
#root .profile-container .profile-content .profile-title .user-info,
.App .profile-container .profile-content .profile-title .user-info {
  position: relative;
  border: solid 1px #afafaf73;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  height: 220px;
  width: 400px;
}

html .profile-container .profile-content .profile-repos,
body .profile-container .profile-content .profile-repos,
#root .profile-container .profile-content .profile-repos,
.App .profile-container .profile-content .profile-repos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
}

html .profile-container .profile-content .profile-repos .repository-list,
body .profile-container .profile-content .profile-repos .repository-list,
#root .profile-container .profile-content .profile-repos .repository-list,
.App .profile-container .profile-content .profile-repos .repository-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 80%;
  margin: 20px;
}

html .card,
body .card,
#root .card,
.App .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  border: solid 1px #8080804b;
  border-radius: 5px;
  width: 250px;
  height: 100px;
}

html .card p,
body .card p,
#root .card p,
.App .card p {
  font-size: 20px;
}
/*# sourceMappingURL=App.css.map */